.Ocean {
    background-color: rgb(0, 102, 204);
}

.Montagne {
    background-color: rgb(153, 76, 0);
}

.Plaine {
    background-color: rgb(39, 112, 16);
    color: rgb(39, 112, 16);
}
.Foret {
    background-color: rgb(29, 59, 20);
}

.Désert {
    background-color: rgb(221, 190, 120);
}

.Neige {
    background-color: rgb(244, 232, 232);
}

.Free {
    background-color: rgb(212, 211, 211);
}
.Fog {
    background-color: rgba(171, 174, 176, 1);
}
