/* variable communes*/
:root {
    --Hex-taille-PX: 250PX;
    --Hex-hauteur-PX: calc(Var(--Hex-taille-PX) * 0.86);
    --Hex-marge-left-PX: calc(Var(--Hex-taille-PX) / -4);
    --Hex-marge-top-PX: calc(var(--Hex-hauteur-PX) / 2);
}

Hex-Ligne {
    display: flex;
    margin-top: calc(var(--Hex-marge-top-PX) * -1);
}

Hex-Ligne:nth-child(1n) {
    margin-top: calc(var(--Hex-marge-top-PX)*-1);
}

Hex-Ligne:first-child {
    margin-top: 0Px;
}

Hex-tuile:nth-child(2n) {
    margin-top: VAR(--Hex-marge-top-PX);
}

Hex-tuile:nth-child(1n) {
    margin-left: var(--Hex-marge-left-PX);
}

Hex-tuile:first-child {
    margin-left: 0px;
}

Hex-tuile {

    width: Var(--Hex-taille-PX);
    height: Var(--Hex-hauteur-PX);
    --X1: calc((Var(--Hex-taille-PX)*0.25));
    --X2: calc(Var(--Hex-taille-PX)*0.75);
    --X3: calc(Var(--Hex-taille-PX)*1);
    --Y1: calc(Var(--Hex-hauteur-PX)*0.5);
    --Y2: calc(Var(--Hex-hauteur-PX)*1);
    clip-path: polygon(var(--X1) 0%, var(--X2)0%, var(--X3) var(--Y1), var(--X2) 100%, var(--X1) var(--Y2), 0% var(--Y1));
}

